@inherits Microsoft.AspNetCore.Components.Forms.InputText

<div>
    <input @attributes="@AdditionalAttributes" class="@CssClass default-input @inputClass"
           value="@CurrentValueAsString" @oninput="HandleInput"
           maxlength="@maxLength" placeholder="@placeholder" />
    <span class="char-count @charCountClass">@length / @maxLength</span>
</div>

@code {
    [Parameter] public int minLength { get; set; } = 2;
    [Parameter] public int maxLength { get; set; } = 15;
    [Parameter] public string placeholder { get; set; } = "";
    [Parameter] public EventCallback<string> OnInput { get; set; }

    string inputClass = "";
    string charCountClass = "";
    int length = 0;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        CountChars();
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        CountChars();
    }

    void HandleInput(ChangeEventArgs e)
    {
        CurrentValueAsString = e.Value.ToString();
        CountChars();
        OnInput.InvokeAsync(CurrentValueAsString);
    }

    void CountChars()
    {
        length = CurrentValueAsString?.Length ?? 0;
        if (length < minLength || length >= maxLength)
        {
            inputClass = "danger-input";
            charCountClass = "danger";
        }
        else
        {
            inputClass = "good-input";
            charCountClass = "";
        }
    }
}
