<div class="popupcomponent-background @(IsVisible ? "show" : "")">
    <div class="popupcomponent-inner">
        <h2 class="popupcomponent-title">@Title</h2>
        <div class="popupcomponent-content">
            @Content
        </div>
        <div class="popupcomponent-buttons">
            <button class="btn btn-secondary" @onclick="OnSecondaryClick">
                <img src="@SecondaryButtonImageUrl" alt="" />
                <span>@SecondaryButtonText</span>
            </button>
            <button class="btn btn-primary" @onclick="OnPrimaryClick">
                <img src="@PrimaryButtonImageUrl" alt="" />
                <span>@PrimaryButtonText</span>
            </button>
        </div>
    </div>
</div>

@code {
    [Parameter] public bool IsVisible { get; set; }
    [Parameter] public string Title { get; set; }
    [Parameter] public RenderFragment Content { get; set; }
    [Parameter] public string PrimaryButtonText { get; set; } = "החלפת תוכן";
    [Parameter] public string SecondaryButtonText { get; set; } = "ביטול";
    [Parameter] public string SecondaryButtonImageUrl { get; set; } = "/images/emptyBTNWhite.png";
    [Parameter] public string PrimaryButtonImageUrl { get; set; } = "/images/emptyBTNRed.png";
    [Parameter] public EventCallback OnPrimaryClick { get; set; }
    [Parameter] public EventCallback OnSecondaryClick { get; set; }
    [Parameter] public EventCallback OnCloseClick { get; set; }
}